  body.index {

  background: url('/assets/img/bluebricks.jpeg');
  background-size: cover;

  main {
    padding: $spacing-unit 0;
    min-height: 100vh;
  }

  header.page-header {
    h1 {
      color: magenta;
      text-align: center;
      font-size: 3em;
    }
    .under-construction {
      background: url('/assets/img/caution.webp');
      background-size: cover;
      max-width: 680px;
      width: 100%;
      h2 {
        text-align: center;
        text-transform: uppercase;
        color: red;
        font-size: 2em;
        padding: 5px 10px;
        margin: 0;
      }
    }
  }

  .form {
    padding: $spacing-unit 0;
    color: white;
    font-size: 1.4em;
    text-align: center;

    textarea {
      margin: $spacing-unit/2 0;
    }

    .responses {
      margin-top: $spacing-unit;
      text-align: left;
      .response {
        margin-bottom: $spacing-unit;
      }
      .meta {
        font-size: 0.9em;
        color: #ccc;
        strong {
          color: magenta;
        }


      }
    }
  }

  .babies {
    img {
      flex: 1 1 auto;
      width: 33%;
    }
  }

  footer.site-footer {
    .container {
      flex-direction: row;
    }
    .footer-ads,
    .footer-counters {
      flex: 0 0 50%;
      padding: 10px;

      h3 {
        color: lime;
      }

      .counter-1 {
        text-align: right;
        padding: 0px 16px;
        background: #111;
        font-size: 1.8em;
        font-family: monospace;
        font-weight: 800;
        color: lime;
        letter-spacing: 4px;
        margin-bottom: 10px;;
      }
      .counter-2 {
        background: white;
        font-family: serif;
        font-weight: 900;
        letter-spacing: 5px;
        font-size: 1.8em;
        text-align: right;
        margin-bottom: 10px;;
      }
      .counter-3 {
        background: purple;
        color: white;
        font-weight: 900;
        letter-spacing: 5px;
        font-size: 1.8em;
        text-align: right;
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
        margin-bottom: 10px;;
      }
    }
  }

}