<head>
  {% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | escape | truncate: 160 }}{% endif %}{% endcapture %}
  {% assign year = site.time | date: '%Y' %}
  {% capture long_title %}{% if page.title %}{{ page.title | replace: '%YEAR%', year | escape }}{% else %}{{ site.title }}{% endif %} | {{ description }}{% if page.title %} | {{ site.title }}{% endif %}{% endcapture %}
  {% capture short_title %}{% if page.title %}{{ page.title | replace: '%YEAR%', year | escape }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="version" content="{{ site.time | date: '%s%N' }}">
  <meta name="git_commit" content="{{ site.github.build_revision }}">
  <meta name="robots" content="{% if page.robots %}{{ page.robots }}{% else %}index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1{% endif %}">

  <title>{{ long_title }}</title>
  <meta name="description" content="{{ description }}">
  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
  {% else %}
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' | replace:'.html','' }}">
  {% endif %}

  <link rel="me" href="https://twitter.com/requestmetrics">
  <link rel="alternate" type="application/rss+xml" title="Web Performance | Request Metrics" href="{{ site.url }}/web-performance/feed.xml">

  <link rel="preconnect" href="https://cdn.trackjs.com" crossorigin="anonymous">
  <link rel="preconnect" href="https://usage.trackjs.com" crossorigin="anonymous">
  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
  <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/muli.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/poppins-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/poppins-600.woff2" as="font" type="font/woff2" crossorigin>
  {% if page.content_fonts %}
    <link rel="preload" href="/assets/fonts/lora-400i.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/assets/fonts/lora.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/source-code-pro-400.woff" as="font" type="font/woff" crossorigin>
  {% endif %}

  <!-- Structured Data -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
        {
          "@type": "Organization",
          "@id": "{{ site.url }}/#organization",
          "name": "{{ site.title }}",
          "url": "{{ site.url }}/",
          "sameAs": [{% for link in site.links %}
            "{{link[1]}}"{% unless forloop.last %},{% endunless %}{% endfor %}
          ],
          "email": "{{ site.email }}",
          "parentOrganization": {
            "@type": "Organization",
            "@id": "https://trackjs.com/#organization",
            "name": "TrackJS",
            "url": "https://trackjs.com/"
          },
          "logo": {
            "@type": "ImageObject",
            "inLanguage": "en-US",
            "@id": "{{ site.url }}/#/schema/logo/image/",
            "url": "{{ site.images.icon | absolute_url }}",
            "contentUrl": "{{ site.images.icon | absolute_url }}",
            "width": 512,
            "height": 512,
            "caption": "{{ site.title }}"
          },
          "image": {
            "@id": "{{ site.url }}/#/schema/logo/image/"
          }
        },
        {
          "@type": "WebSite",
          "@id": "{{ site.url }}/#website",
          "url": "{{ site.url }}",
          "name": "{{ site.title }}",
          "description": "{{ site.description }}",
          "publisher": {
            "@id": "{{ site.url }}/#organization"
          },
          "potentialAction": [
            {
              "@type": "SearchAction",
              "target": {
                "@type": "EntryPoint",
                "urlTemplate": "{{ site.url }}/search/?q={search_term_string}"
              },
              "query-input": "required name=search_term_string"
            }
          ],
          "inLanguage": "en-US"
        },{% if page.image %}
        {
          "@type": "ImageObject",
          "inLanguage": "en-US",
          "@id": "{{ page.url | absolute_url }}#primaryimage",
          "url": "{{ page.image | absolute_url}}",
          "contentUrl": "{{ page.image | absolute_url }}",
          "width": 2000,
          "height": 1000,
          "caption": "{{ page.title }}"
        },{% else %}
        {
          "@type": "ImageObject",
          "inLanguage": "en-US",
          "@id": "{{ site.images.share | absolute_url }}#primaryimage",
          "url": "{{ site.images.share | absolute_url}}",
          "contentUrl": "{{ site.images.share | absolute_url }}",
          "width": 2000,
          "height": 1000,
          "caption": "{{ page.title }}"
        },{% endif %}{% if page.youtube_video_id %}
        {
          "@type": "VideoObject",
          "@id": "{{ page.url | absolute_url }}#video",
          "url": "https://www.youtube.com/embed/{{ page.youtube_video_id }}",
          "contentURL": "https://www.youtube.com/embed/{{ page.youtube_video_id }}",
          "embedUrl": "https://www.youtube.com/embed/{{ page.youtube_video_id }}",
          "name": "{{ page.title }}",
          "description": "{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 240 }}",
          "thumbnailUrl": "https://img.youtube.com/vi/{{ page.youtube_video_id }}/mqdefault.jpg",
          "uploadDate": "{{ page.date | date_to_xmlschema }}",
          "inLanguage": "en-US"
        },{% endif %}
        {
          "@type": "WebPage",
          "@id": "{{ page.url | absolute_url }}#webpage",
          "url": "{{ page.url | absolute_url }}",
          "name": "{{ page.title }} | {{ site.title }}",
          "isPartOf": {
            "@id": "{{ site.url }}/#website"
          },
          "primaryImageOfPage": {
            "@id": "{{ page.url | absolute_url }}#primaryimage"
          },
          "datePublished": "{{ page.date | date_to_xmlschema }}",
          "dateModified": "{{ site.time | date_to_xmlschema }}",
          "description": "{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 240 }}",
          "breadcrumb": {
            "@id": "{{ page.url | absolute_url }}#breadcrumb"
          },
          "inLanguage": "en-US",
          "potentialAction": [
            {
              "@type": "ReadAction",
              "target": [
                "{{ page.url | absolute_url }}"
              ]
            }
          ]
        }
      ]
    }
  </script>

  <!-- Facebook Meta -->
  <meta property="og:title" content="{{ short_title }}" />
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />
  {% if page.youtube_video_id %}
    <meta property="og:type" content="video.other" />
    <meta property="og:video" content="https://www.youtube.com/embed/{{ page.youtube_video_id }}" />
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:title" content="{{ short_title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:site" content="@RequestMetrics">
  {% if page.youtube_video_id %}
    <meta name="twitter:card" content="player">
    <meta name="twitter:image" content="https://i.ytimg.com/vi/{{ page.youtube_video_id }}/maxresdefault.jpg" />
    <meta name="twitter:player" content="https://www.youtube.com/embed/{{ page.youtube_video_id }}" />
    <meta name="twitter:player:width" content="1280" />
    <meta name="twitter:player:height" content="720" />
    <meta name="twitter:app:name:iphone" content="YouTube">
    <meta name="twitter:app:id:iphone" content="544007664">
    <meta name="twitter:app:name:ipad" content="YouTube">
    <meta name="twitter:app:id:ipad" content="544007664">
    <meta name="twitter:app:url:iphone" content="vnd.youtube://www.youtube.com/watch?v={{ page.youtube_video_id }}&amp;feature=applinks">
    <meta name="twitter:app:url:ipad" content="vnd.youtube://www.youtube.com/watch?v={{ page.youtube_video_id }}&amp;feature=applinks">
    <meta name="twitter:app:name:googleplay" content="YouTube">
    <meta name="twitter:app:id:googleplay" content="com.google.android.youtube">
    <meta name="twitter:app:url:googleplay" content="https://www.youtube.com/watch?v={{ page.youtube_video_id }}">
  {% else %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />
  {% endif %}

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest.json">

  <link rel="stylesheet" href="/assets/css/main.css{% if jekyll.environment == 'production' %}?{{ site.time | date: "%s%N" }}{% endif %}">


  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
</head>
