@font-face {
  font-family: 'Comic Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Comic Sans MS'), local('Comic Sans'),
    url(/assets/fonts/comic-sans.woff2) format('woff2')
}
@font-face {
  font-family: 'Comic Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Comic Sans MS'), local('Comic Sans'),
    url(/assets/fonts/comic-sans.woff2) format('woff2')
}
